*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #0f0f0f;
  font-family: 'Inter', system-ui, sans-serif;
  color: white;
}
